<html>
  <head>
    <style>
      body{
        background: white;
        color: black;
        font-family: Helvetica;
      }
      .container {
        width: 80%;
        height: 200px;
        background: white;
        margin: auto;
        padding: 10px;
      }
      .one {
        width: 50%;
        height: 400px;
        background: #eeeeee;
        float: left;
        padding: 10px ,10px ,10px ,10px;
        border: 5px solid black;
        color: black;
      }
      .two {
        margin-left: 15%;
        height: 400px;
        background: #eeeeee;
        padding: 10px ,10px ,10px ,10px;
        border: 5px solid black;
        color: black;
      }
    </style>
  </head>
  <body>
    <center><h1>Welcome to Rick's Alpha-Blog</h1></center>
    <ul>
      <li><%= link_to "Alpha Blog", articles_path %></li>
      <li><%= link_to "About Me", about_path %></li>
    </ul>
    <p><section class="container">
      <div class="one">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis justo semper, feugiat massa et, feugiat quam. In ultrices sapien arcu, nec facilisis libero aliquam eget. Fusce ut odio hendrerit, euismod nibh aliquam, congue nisl. Maecenas sit amet volutpat lorem. Etiam cursus pellentesque sapien, ut ultricies velit porta id. Nulla pretium leo eget felis gravida vehicula. Cras scelerisque sapien eros, laoreet rhoncus est scelerisque eu. Curabitur iaculis ultricies nibh, et tristique sapien vulputate eu. Maecenas est justo, interdum at fringilla quis, tempus id leo. Sed dolor odio, pulvinar quis tellus vel, suscipit fermentum turpis.

Suspendisse id tincidunt magna. Morbi id suscipit leo. Aenean vel urna faucibus, consequat neque at, luctus urna. Maecenas pretium sed justo ut aliquet. In hac habitasse platea dictumst. Fusce interdum, purus eget tristique suscipit, turpis orci aliquam eros, at ornare nulla erat id augue. Nunc eu ultricies eros. Vestibulum elementum tincidunt dictum.

Sed gravida, leo ac vulputate malesuada, elit erat ullamcorper nunc, sed ultrices mauris leo ut massa. Donec pulvinar rhoncus ante in porttitor. Proin condimentum quis massa nec consequat. Quisque orci felis, consectetur nec efficitur ut, maximus eu mi. Integer sit amet finibus lectus. Ut vel scelerisque magna, non mattis tellus. Nam eget convallis massa, eu posuere lacus. Pellentesque convallis sagittis libero, id tincidunt sapien rutrum ac. Sed vel efficitur est. Ut iaculis ante in condimentum eleifend. Cras at sollicitudin elit, ut rhoncus tortor. Mauris posuere pellentesque odio, ut rhoncus tortor consectetur eget. In auctor eleifend faucibus. Mauris molestie nec dui tristique maximus. Integer malesuada magna tincidunt sapien egestas ultricies.</div>
      <div class="two">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis justo semper, feugiat massa et, feugiat quam. In ultrices sapien arcu, nec facilisis libero aliquam eget. Fusce ut odio hendrerit, euismod nibh aliquam, congue nisl. Maecenas sit amet volutpat lorem. Etiam cursus pellentesque sapien, ut ultricies velit porta id. Nulla pretium leo eget felis gravida vehicula. Cras scelerisque sapien eros, laoreet rhoncus est scelerisque eu. Curabitur iaculis ultricies nibh, et tristique sapien vulputate eu. Maecenas est justo, interdum at fringilla quis, tempus id leo. Sed dolor odio, pulvinar quis tellus vel, suscipit fermentum turpis.

Suspendisse id tincidunt magna. Morbi id suscipit leo. Aenean vel urna faucibus, consequat neque at, luctus urna. Maecenas pretium sed justo ut aliquet. In hac habitasse platea dictumst. Fusce interdum, purus eget tristique suscipit, turpis orci aliquam eros, at ornare nulla erat id augue. Nunc eu ultricies eros. Vestibulum elementum tincidunt dictum.

Sed gravida, leo ac vulputate malesuada, elit erat ullamcorper nunc, sed ultrices mauris leo ut massa. Donec pulvinar rhoncus ante in porttitor. Proin condimentum quis massa nec consequat. Quisque orci felis, consectetur nec efficitur ut, maximus eu mi. Integer sit amet finibus lectus. Ut vel scelerisque magna, non mattis tellus. Nam eget convallis massa, eu posuere lacus. Pellentesque convallis sagittis libero, id tincidunt sapien rutrum ac. Sed vel efficitur est. Ut iaculis ante in condimentum eleifend. Cras at sollicitudin elit, ut rhoncus tortor. Mauris posuere pellentesque odio, ut rhoncus tortor consectetur eget. In auctor eleifend faucibus. Mauris molestie nec dui tristique maximus. Integer malesuada magna tincidunt sapien egestas ultricies.</div>
    </section></p>
  </body>
  
  
  
  
  
  
  
  
  
  
</html>