<div class="row" align="center">
  <h1>RICK'S UNITY DEV BLOG</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
<p>
  <div class="center jumbotron">
  </div>
</p>


